#map { height: 400px; }

.wrapper {
  overflow: hidden;
}

.sliding-background {
  background: url("../bandeau.jpg") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(8, 8, 8) ;
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

section {
  padding: 20px;
}

.contenu {
  border: 1px solid #b10a0a;
  margin: 10px 0;
  padding: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header{
    background-color: rgb(8, 8, 8);
    color: #f2f2f2;
    text-align: center;
    height:  150 px;
    margin: 0px;
    padding: 35px;
}

img.fixed {
    position: fixed;
    top: 0;
    right: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

.contenu {
    border: 1px solid #f8f0f0;
    margin: 0px 0;
    padding: 0px;
    background-color: rgb(58, 45, 45);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 600px) {
  header {
      padding: 5px;
  }

  nav ul {
      text-align: center;
  }

  nav li {
      display: block;
      margin: 5px 0;
  }

  .contenu {
      padding: 5px;
  }
}


